PORT=3000

# Chaves Globais
SAMBANOVA_API_KEY=

# Telegram Tokens
TELEGRAM_TOKEN_LETICIA=
TELEGRAM_TOKEN_PAULO=

# Evolution API (WhatsApp)
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_LETICIA=leticia-bot
EVOLUTION_INSTANCE_PAULO=paulo-bot
