# Supply Chain Defenses
# Forçar versões exatas (sem ^ ou ~)
save-exact=true

# Bloquear execução automática de scripts (mitigação principal de envenenamento de cache e preinstall attacks)
ignore-scripts=true

# Desabilitar dependências via Git (forçar registry, evitação de trojans off-registry)
git=false
